.a{
    color: black;
    text-align: center;
}

.container{
    text-align: center;
    background-color: #001c38;
    width:600px;
	padding:50px;
	border-radius:10px;
	margin: auto;
    margin-top: 50px;
}

h1{
    text-align: center;
    color: #07dbf1;

}

h2{
    text-align: center;
    color: white;
}

select{
    width: 97%;
    background: rgb(210, 237, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 14px;
    border: 1px solid #1100ff;
    font-family: 'calibri';
    font-size: 18px;  
}

body{
    background-color: white;
}

button{
    width: 97%;
    background: #199ba0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 14px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;  
}

input{
    width: 90%;
    background: rgb(210, 237, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 14px;
    border: 1px solid #1100ff;
    font-family: 'calibri';
    font-size: 18px;  
}

table {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    width:300px;
	padding:50px;
	border-radius:10px;
	margin: auto;
    margin-top: 100px;
}

td, th {
    min-width: 130px;
    height: 10px;
    text-align: center;
}

.inicio {
    text-align: center;
}

.centrar {
    align-items: center;
    text-align: center;
}

label {
    color: white;
}

.imagen {
    margin-top: auto;
}


